@import '../font-awesome-4.7.0/css/font-awesome.min.css';
.idp-container .dashboard-content {
  padding-left: 0 !important;
}

.idp-container .dashboard-content .side-menu {
  display: none !important;
}

p {
  line-height: 1.3;
}

.base {
  margin-left: 10px;
}

.create-base {
  position: relative;
  padding-bottom: 100px;
}

.create-content {
  overflow-y: auto;
  max-height: calc(100vh - 180px);
  padding-bottom: 50px;
}

.form-container {
  text-align: center;
}

.form-row {
  display: grid;
  grid-gap: 10px;
  padding: 10px 0;
  /* Add top and bottom padding */
}

.form-column {
  flex: 1;
}

.message-row {
  display: grid;
  grid-template-columns: repeat(3a, 1fr);
  grid-gap: 10px;
  padding: 10px 0;
  /* Add top and bottom padding */
  margin-left: 10px;
}

.message-column {
  flex: 1;
}

.input-container {
  margin: 10px 0;
  /* Add padding at the top and bottom for input/select */
}

.success {
background-color: #4caf50;
/* Green */
}

.tabs {
  display: flex;
}

.tab {
  padding: 0 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0;
}

.tab:focus {
  background-color: transparent;
  box-shadow: none;
}

.tab.active {
  border-bottom: 2px solid #297db4;
}

.tab-content-container .tab-content {
  display: none;
  min-height: 70vh;
}

.tab-content-container .tab-content.show {
  display: block;
}

/* buttons */
.btn-icon {
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn-icon:hover {
  background: transparent;
  border: none;
  box-shadow: none;
}

.btn-x {
  position: absolute;
  top: 60px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-x:hover, .btn-x:focus {
  background-color: #c82333;
  border-color: #dc3545;
  box-shadow: none;
  border-radius: 0;
}

.btn-x-modal {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.btn-x-modal:hover, .btn-x-modal:focus {
  background-color: #297db4;
  border-color: #0d73b8;
  box-shadow: none;
  border-radius: 0;
}

.x-icon {
  color: black;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}

.btn-x:hover .x-icon {
  color: white;
}

.theme-dark .x-icon {
  color: #fff;
}

.theme-dark .btn-x:hover .x-icon {
  color: #000;
}

.cbtn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.15rem 1.5rem;
  min-height: 30px;
  min-width: 80px;
  font-size: 0.9rem;
  line-height: 1.2;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cbtn:focus {
  background: transparent;
  box-shadow: none;
  border: 1px solid black;
}

.cbtn:disabled {
  background-color: #cccccc;
  /* Grey */
  color: #666666;
  /* Dark grey */
  cursor: not-allowed;
  border-color: none;
}

.btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #297db4;
  border-color: #297db4;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-primary:disabled:hover {
  background-color: #cccccc;
  /* Grey */
  color: #666666;
  /* Dark grey */
  cursor: not-allowed;
  border-color: none;
}

.btn-danger, .btn-danger:focus {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #c82333;
}

.btn-success, .btn-success:focus {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #218838;
}

.btn-light, .btn-light:focus {
  color: #000;
  background-color: transparent;
  border-color: black;
}

.btn-light:hover {
  color: #000;
  background-color: #979595;
  border-color: black;
}

.theme-dark .btn-light, .theme-dark .btn-light:focus {
  color: white;
  border-color: white;
}

.theme-dark .btn-light:hover {
  color: #fff;
  background-color: #979595;
  border-color: #fff;
}

.text-primary {
  color: #297db4;
}

.text-danger {
  color: #dc3545;
}

.bg-primary {
  background-color: #297db4;
}

.bg-danger {
   background-color: #dc3545;
}

.bg-success {
  background-color: #28a745;
}

.input-container {
  position: relative;
  width: 400px;

  input[type="text"] {
    padding-right: 40px; /* Adjust as needed */
  }
  
  .info-icon {
    position: absolute;
    top: 70%;
    right: 15px; /* Adjust as needed */
    transform: translateY(-50%);
    cursor: pointer;
  }

  .tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    left: calc(80% + 25px);
    min-width: 200px;
  }
  
  .tooltip::before {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
    top: -10px;
    right: calc(80% + 5px);
    transform: translateX(50%);
  }
  
  .info-icon:hover + .tooltip {
    visibility: visible;
    opacity: 1;
  }
}

.checkbox-content {
  display: flex;
  align-items: center;

  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #666;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
  }

  input[type="checkbox"]::before {
    content: '';
    display: block;
    width: 70%;
    height: 70%;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  input[type="checkbox"]:checked::before {
    background-color: #666;
  }

  label {
    cursor: pointer;
  }
}

.card {
  border: 2px solid grey;
  border-radius: 5px;
  min-height: 250px;
  padding: 20px;
}

.hover-container {
  display: flex;
  align-items: center;
}
.copy-container {
  font-size: 1.2rem;
  cursor: pointer;
}

.theme-dark .markdown-body img {
  background-color: #1b1c21 !important;
}

.theme-light .markdown-body img {
  background-color: #fff !important;
}

/* pagination (always make sure this is at the bottom) */
.smart-pagination {
  text-align: center;
}

.pagination {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-item {
  display: inline-block;
  margin-right: 5px;
}

.page-link {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  color: #333; /* Text color */
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

/* SVG Icon Styling */
.page-link svg {
  vertical-align: middle;
  margin-right: 5px; 
}

.page-link:hover {
  background-color: #f5f5f5;
}

.page-item.active {
  color: #000;
  background-color: #297db4;
  border: 1px solid #297db4;
}

.page-item.active .page-link:hover {
  color: #000;
  background-color: #0056b3;
  border-color: #0056b3;
}
